<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Profile Page</title>
        <meta charset="utf-8">
        <link rel='stylesheet' href='../public/css/profile_page.css'/>
    </head>
<body>
    <header role="banner" class="Main-head">
        <div class="Container-for-head">
            <img src="../public/images/logo.svg" alt="Depop logo" />
        </div>
    </header>

    <div class="User-main-container">
        <div class="User-details-container">
            <div class="Avatar"><img src="../public/images/avatar-1@1x.png" alt="avatar" />
            </div>
            <div class="Shop-details">
                <h1 class="Shop-name">My Vintage Garms</h1>
                <p class="Username">@myvintagegarms96</p>
            </div>
        </div>

    </div>

</body>
</html>