<!DOCTYPE html>
<html lang="en">

<head>
    <title>Profile Page</title>
    <meta charset="utf-8">
    <link rel='stylesheet' href='../public/css/profile_page.css' />
</head>

<body>
    <header role="banner" class="Main-head">
        <div class="Container-for-head">
            <img src="../public/images/logo.svg" alt="Depop logo" />
        </div>
    </header>

    <div class="User-main-container">
        <div class="User-details-container">
            <div class="Avatar"><img src="../public/images/avatar-1@1x.png" alt="avatar" />
            </div>
            <div class="Shop-details">
                <h1 class="Shop-name">My Vintage Garms</h1>
                <p class="Username">@myvintagegarms96</p>
            </div>
        </div>
        <div class="Followers-container">
            <div class="Followers-and-numbers">
                <span class="Number-of-followers">50k</span>
                <span class="Followers">Followers</span>
                <span class="Following-number">205</span>
                <span class="Followers">Following</span>
            </div>
            <div class="Shop-description">
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer convallis, tortor quis scelerisque
                    blandit, lorem erat hendrerit ex. Lorem ipsum dolor sit amet.</p>
                <a href="https://instagram.com/myvintagegarms96">https://instagram.com/myvintagegarms96</a>
            </div>
            <divc class="Selling-button">
                <p class=""></p>
        </div>
    </div>
    </div>
</body>

</html>