<!DOCTYPE html>
<html lang="eng">

<head>
    <title>Product Page</title>
    <meta charset="utf-8">
    <link rel='stylesheet' href='../public/css/product_page.css' />
</head>


<body>
    <header role="banner" class="Header">
        <div class="Header-container">
            <div class="Depop-logo">
                <img src="../public/images/logo.svg" alt="Depop logo" />
            </div>
        </div>
    </header>

    <div class="Main-container">
        <div class="Product-page-layout"></div>

    </div>

</body>





</html>

