<!DOCTYPE html>
<html lang="eng" class="gtamerica">

<head>
    <title>Product Page</title>
    <meta charset="utf-8">
    <link rel='stylesheet' href='../public/css/product_page.css' />

    <style>
        @font-face {
            font-family: 'GT America Extended';
            src:
                url('../public/fonts/GT-America-Extended-Regular.otf');
            format('opentype');

        }
    </style>
</head>


<body>
    <header role="banner" class="Header">
        <div class="Header-container">
            <div class="Depop-logo">
                <img src="../public/images/logo.svg" alt="Depop logo" />
            </div>
        </div>
    </header>

    <div class="Main-container">
        <div class="Product-page-layout">
            <div class="Images-block">
                <div class="Image-container">
                    <img class="Image-1" src="../public/images/img-copy@2x.jpg" alt="Image-1" />
                </div>
                <div class="Image-container">
                    <img class="Image-2" src="../public/images/img@2x.jpg" alt="Image-2" />
                </div>
                <div class="Image-container">
                    <img class="Image-3" src="../public/images/img-copy@2x.jpg" alt="Image-1" />
                </div>
                <div class="Image-container">
                    <img class="Image-4" src="../public/images/img@2x.jpg" alt="Image-2" />
                </div>
            </div>

            <div class="User-profile-details">
                <div class="Username-location">
                    <div class="Profile-container">
                        <div class="Main-user-details">
                            <div class="Profile-image">
                                <img class="Avatar" src="../public/images/avatar-1@1x.png" alt="Profile-avatar"
                                    width="64px" height="64px" />
                            </div>
                            <div class="Username-container">
                                <p class="Username">oldgarmsbutgoodgarms</p>
                                <p class="Location">London, United Kingdom</p>
                            </div>
                        </div>
                        <div class="Trust-symbols">
                            <div class="Sold-number-container">
                                <div class="Sold-tag">
                                    <img class="Tag" src="../public/images/sold-items.svg" width="12px" height="12px"
                                        alt="Sold-tag" />
                                </div>
                                <span class="Sold-number">1420 Sold</span>
                            </div>
                            <div class="Active-status-container">
                                <div class="Active-status">
                                    <img class="Active-symbol" src="../public/images/active.svg" width="12px"
                                        height="12px" alt="Active-symbol" />
                                </div>
                                <span class="Last-active">Active this week</span>
                            </div>
                        </div>
                        <p class="Item-description">Vintage OG SCHOTT Bomber Jacket.

                            CONDITION: This item is a vintage/pre-worn piece so some signs of natural wear and age are
                            to be expected. Some ware on elastic cuff - does not effect the function of jacket . However
                            good general condition

                            SIZE: Large .

                            Actual Measurements Jacket: Neck to Hem: 22" . Pit to Pit: 29".

                            Our model T is about 5ft 1 and usually wears a size UK 8. This is a men’s large so fits very
                            oversized on model.
                        </p>
                        <div class="Price-and-size">
                            <table class="Item-price">
                                <tbody>
                                    <tr class="Price-container">
                                        <th class="Price">Price</th>
                                        <td class="Price-amount">
                                            <div class="Price-amount-container">
                                                <span class="Price-in-pounds">£31.00</span>
                                            </div>
                                        </td>

                                </tbody>
                            </table>
                            <table class="Size-availability">
                                <tbody>
                                    <tr class="Size-container">
                                        <th class="Size">Size</th>
                                        <td class="Size-code">L</td>
                                </tbody>
                            </table>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</body>





</html>